<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <title>{{title}} - Intranet App</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="App" layout="column" ng-controller="mainCtrl as vm">
    <!--<span us-spinner></span> comentado por el momento carga de log-->  
      {{> navbar}}
      <div flex layout="row">
        {{{body}}}
      </div>
    <!-- /.container -->
    <!--login modal-->
   

    {{{forumScriptTags}}}
    {{{block "bodyScripts"}}}
  </body>
</html>
