<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <title>{{title}} - Intranet App</title>
    <!-- Seccion de hojas de estilo -->

    <link rel="stylesheet" href="{{asset "css/editor.css"}}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"> 
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
    <link rel="stylesheet" href="{{asset "css/angular-material.css"}}">

    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- HTML5 y Respond.js tiene soporte para media queries en IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="App" ng-controller="mainCtrl as vm" layout="row" ng-cloak>
    <!--<span us-spinner></span> comentado por el momento carga de log-->

    {{{body}}}



    {{{forumScriptTags}}}
    {{{block "bodyScripts"}}}
  </body>
</html>
